
@{
    ViewData["Title"] = "Inventario";
}

<h1>inventario</h1>

<body>
<div class="container">
				<table class="table">
					<thead>
						<tr>
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Precio</th>
						</tr>
					</thead>
					<tbody>
						<tr>
					<td>ARCO ACERO 16 X 22 SUP</td>
							<td>15</td>
							<td>150</td>
						</tr>
						<tr>
					<td>ARCO NITI 0,12 INF</td>
							<td>34</td>
							<td>340</td>
						</tr>
						<tr>
					<td>BLANQUEAMIENTO NITE WHITE</td>
							<td>10</td>
							<td>200</td>
						</tr>
				<tr>
					<td>BRACKETS BALANCE </td>
					<td>10</td>
					<td>200</td>
				</tr>
				<tr>
					<td>BRACKETS ROYALDENT 0,22</td>
					<td>15</td>
					<td>220</td>
				</tr>
				<tr>
					<td>RESINA Z100 A2</td>
					<td>40</td>
					<td>140</td>
				</tr>
				<tr>
					<td>SINGLE BOND (ADHESIVO)</td>
					<td>12</td>
					<td>110</td>
				</tr>
				<tr>
					<td>TUBOS DE CEMENTACION DIRECTA ROTH</td>
					<td>20</td>
					<td>150</td>
				</tr>
				<tr>
					<td>ARCO NITI 17 X 25 SUP</td>
					<td>5</td>
					<td>200</td>
				</tr>
					</tbody>
				</table>
		</div>
    
</body>
<br/>
<br/>
<br/>
<br/>
<br />
<br/>